.input-container {
    margin-bottom: 0.5em;
}

#error-container {
    font-size: small;
    color: lightcoral;
    margin-bottom: 0.75em;
}

#login-btn {
    background-color: #3369ff;
    color: #ffffff;
    padding:0.4em 1.0em;
    margin:0 0.2em 0.2em 0;
}

.input-container label {
    font-weight: bold;
}